<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>

  <connectionStrings>
    <add name="default" connectionString="DefaultEndpointsProtocol=https;AccountName=bbtcstg;AccountKey=YUDaOk0l94Mrj9H4Gmvr6BGb9E4weDmF3c44F4VBrKQ3+DeZfhCNyw05IoPZyxO9FgJaUVfKd/4sVIraX4oYkw=="/>
  </connectionStrings>

  <appSettings>
    <add key="Game.Radius" value="0.005"/>
    <add key="Game.Bet" value="0.005"/>
    <add key="Game.Prize" value="0.25"/>
    <add key="Game.Fee" value="0.0001"/>
    <add key="Game.IncomingAddress" value="2MyVtJE9ptqZq7hP4DybBzB6zsxZytUssnf"/>
    <add key="Game.ProfitAddress" value="2N8d4FmqJVuNiRyM6w4Qzqg1sSn7Hna1oYL"/>
    <add key="PaymentGateway.ApiUrl" value="https://block.io/api/v2"/>
    <add key="PaymentGateway.NotificationUrl" value="wss://n.block.io"/>
    <add key="PaymentGateway.ApiKey" value="2598-9c64-1810-3b70"/>
    <add key="PaymentGateway.Pin" value="pRei6c8bwg1iVgtE4TMo"/>
    <add key="Scheduler.Rate" value="600.0"/>
    <add key="Scheduler.PlayGame" value="3600.0"/>
    <add key="Stackify.GlobalApiKey" value="4Go8Vq9Dp5Zw1Mx7Jz9Ll2Mj0Ow1Vy9Qb3Wu3An"/>
    <add key="Stackify.GlobalAppName" value="cryptobets"/>
    <add key="Stackify.GlobalEnvironment" value="unit-test"/>
    <add key="Publisher.Twitter.ConsumerKey" value="PiVQ0SsbkiyiLr6PKIO1dpWvS"/>
    <add key="Publisher.Twitter.ConsumerSecret" value="XKzHktNGFdpAL0sDufdfIoJyLOPnSIl9bzhxg2INmx44xaFZTv"/>
    <add key="Publisher.Twitter.AccessToken" value="4654491795-WYbjuTUKNmqdjCCvZrLHGsL3cwY0z2Hk8awywg1"/>
    <add key="Publisher.Twitter.AccessTokenSecret" value="rEcvAQN0jAH4EChyzWXB9Pcma60jRCm5Av7Sdrypva4bI"/>
    <add key="Publisher.Twitter.HashTags" value="#BTCTEST #Crypto #Betting"/>
    <add key="Auth.Twitter.ConsumerKey" value="PiVQ0SsbkiyiLr6PKIO1dpWvS"/>
    <add key="Auth.Twitter.ConsumerSecret" value="XKzHktNGFdpAL0sDufdfIoJyLOPnSIl9bzhxg2INmx44xaFZTv"/>
    <add key="Enviroment.Configuration" value="staging"/>
  </appSettings>

  <akka>
    <hocon>
      <![CDATA[
      akka {
    loglevel = DEBUG
    loggers = ["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
    log-config-on-start = on

    actor {
        provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
        debug {
            receive = on
            autoreceive = on
            lifecycle = on
            event-stream = on
            unhandled = on
        }
    }
    
    remote {
        helios.tcp {
            transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
		        applied-adapters = []
		        transport-protocol = tcp
            port = 10100
            hostname = 10.0.0.4
        }
    }
    
   persistence {
        publish-plugin-commands = on
        
        journal {
            plugin = "akka.persistence.journal.table-storage"
            table-storage {
                class = "TableStorage.Persistence.TableStorageJournal, Akka.Persistence.Azure"
                plugin-dispatcher = "akka.actor.default-dispatcher"
                table-name = Events
                auto-initialize = on 
                connection-strings = ["DefaultEndpointsProtocol=https;AccountName=bbtcstg;AccountKey=YUDaOk0l94Mrj9H4Gmvr6BGb9E4weDmF3c44F4VBrKQ3+DeZfhCNyw05IoPZyxO9FgJaUVfKd/4sVIraX4oYkw=="]
            }
        }
        snapshot-store {
            plugin = "akka.persistence.snapshot-store.blob-storage"
            blob-storage {
              class = "BlobStorage.Persistence.BlobStorageSnapshotStore, Akka.Persistence.Azure"
              plugin-dispatcher = ""akka.actor.default-dispatcher""
              connection-strings = ["DefaultEndpointsProtocol=https;AccountName=bbtcstg;AccountKey=YUDaOk0l94Mrj9H4Gmvr6BGb9E4weDmF3c44F4VBrKQ3+DeZfhCNyw05IoPZyxO9FgJaUVfKd/4sVIraX4oYkw=="]
              container-name = snapshots
              auto-initialize = on
            }
        }
    }
}
        ]]>
    </hocon>
  </akka>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.ProtocolBuffers" publicKeyToken="55f7125234beb589" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.555" newVersion="2.4.1.555" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Topshelf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.154" newVersion="3.3.154.0" />
      </dependentAssembly>
      
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
