<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

	<appSettings>
		<add key="nxtClientPort" value="6876" />
		<add key="nxtClientAccount" value="NXT-55RM-55WK-D2MB-2LNUB" />
		<add key="nxtClientAccountSecretPhrase" value="reach real keep canvas follow stupid orange bitter unable sky illusion hero" />
		<add key="takeOutNxtAccount" value="NXT-55RM-55WK-D2MB-2LNUB" />
		<add key="takeOutNxtAccountPublicKey" value="4f44a2d90976841ccc9db55fefdaaaa581a11f45c1b705e05055d8fae354a153" />
		<add key="betAmountNXT" value="100" />
		<add key="WinningAbs" value="1.25" />
    <add key="GamePrizeNXT" value="10" />
	</appSettings>

	<connectionStrings>
		<add name="AzureTable" connectionString="BlobEndpoint=https://testbetonnxt.blob.core.windows.net/;QueueEndpoint=https://testbetonnxt.queue.core.windows.net/;TableEndpoint=https://testbetonnxt.table.core.windows.net/;FileEndpoint=https://testbetonnxt.file.core.windows.net/;AccountName=testbetonnxt;AccountKey=91dIbs66s1L59b7GHY1ayCbiK05KBywjN9UC3GxgvxTMdpjLxaM/eF2X2zUCcm7aqSphWfHpNb4OJhU7modXOA==" />
	</connectionStrings>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.ProtocolBuffers" publicKeyToken="55f7125234beb589" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.4.1.555" newVersion="2.4.1.555" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>