<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Game.Currency" value="NXT" />
    <add key="Game.Radius" value="1.25" />
    <add key="Game.Bet" value="100" />
    <add key="Game.Prize" value="100" />
    <add key="Game.TimeDiff" value="2.0" />
    <add key="Game.HealthCheckDiff" value="300" />

    <add key="PaymentGateway.Account" value="NXT-55RM-55WK-D2MB-2LNUB" />
    <add key="PaymentGateway.Password" value="reach real keep canvas follow stupid orange bitter unable sky illusion hero" />
    <add key="PaymentGateway.Url" value="http://nxtclient1.cloudapp.net:6876" />

    <add key="Profit.Account" value="NXT-55RM-55WK-D2MB-2LNUB" />
    <add key="Profit.PublicKey" value="4f44a2d90976841ccc9db55fefdaaaa581a11f45c1b705e05055d8fae354a153" />

    <add key="Scheduler.Receive" value="5.0" />
    <add key="Scheduler.Rate" value="600" />
    <add key="Scheduler.PlayGame" value="3600.0" />

    <add key="Systems.Web" value="WebSystem" />
    <add key="Systems.Server" value="ServerSystem" />

    <add key="ActorSelection.RateActor" value="akka.tcp://ServerSystem@localhost:9081/user/rate" />
    <add key="ActorSelection.WebRateProxyActor" value="akka.tcp://WebSystem@localhost:9080/user/WebRateProxyActor" />

  </appSettings>

  <connectionStrings>
    <add name="default" connectionString="BlobEndpoint=https://devbetonnxt.blob.core.windows.net/;QueueEndpoint=https://devbetonnxt.queue.core.windows.net/;TableEndpoint=https://devbetonnxt.table.core.windows.net/;FileEndpoint=https://devbetonnxt.file.core.windows.net/;AccountName=devbetonnxt;AccountKey=CGWrqtmi7poTqmefgKAfJYC06Vv3yCfMuC4OaXPkDETjUgzuwm1a/cYcgBd1D6maGDHJ6/YNxE5ZqRwg1FctOQ==" />
  </connectionStrings>

</configuration>