<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="default" connectionString="DefaultEndpointsProtocol=https;AccountName=btcteststg;AccountKey=xntefAlCBXn0U5Z/zUNRqnxlvgr6ltWfgaw3B3W1QLAbl1EisV9fU+22QQNyONYWYMDt9gvJEf5CJoPuMbhepA=="/>
  </connectionStrings>

  <appSettings xdt:Transform="Replace">
    <add key="Game.Radius" value="0.015"/>
    <add key="Game.Bet" value="0.01"/>

    <add key="Game.IncomingAddress" value="2NF9Qm1uRBQ46jBD3TdbcbWMFFtXMdz9yuG"/>
    <add key="Game.ProfitAddress" value="2NEL6BYpkmU84eY3VXufsERpVJfgHP23QUx"/>

    <add key="PaymentGateway.ApiUrl" value="https://block.io/api/v2"/>
    <add key="PaymentGateway.NotificationUrl" value="wss://n.block.io"/>
    <add key="PaymentGateway.ApiKey" value="4974-8e0c-da9e-9389"/>
    <add key="PaymentGateway.Pin" value="dBzAywwEBHRJgoJDJhmB"/>

    <add key="Systems.WebIp" value=" 10.0.0.5"/>
    <add key="Systems.WebPort" value="10100"/>
    <add key="Systems.ServerIp" value=" 10.0.0.4"/>
    <add key="Systems.ServerPort" value="10100"/>

    <add key="Stackify.GlobalApiKey" value="4Go8Vq9Dp5Zw1Mx7Jz9Ll2Mj0Ow1Vy9Qb3Wu3An"/>
    <add key="Stackify.GlobalAppName" value="cryptobets"/>
    <add key="Stackify.GlobalEnvironment" value="staging-server"/>

    <add key="Publisher.Twitter.ConsumerKey" value="tZ1b2cN4RPxyZTGqr0aejGkgS"/>
    <add key="Publisher.Twitter.ConsumerSecret" value="10ITG3gJUCnfDDBw3xssZ5wreoSTMeGTYBdHYIjqagY6u526Qo"/>
    <add key="Publisher.Twitter.AccessToken" value="708643865402720257-KwMS860AlChrbEwBV7roAQFFejlZBhc"/>
    <add key="Publisher.Twitter.AccessTokenSecret" value="XAVstgmEZ9NzszIqXPiN6kBH2OP3Pyia3Ex6IyU8DNugN"/>
    <add key="Publisher.Twitter.HashTags" value="#BTCTEST #Crypto #Bet"/>

    <add key="SendGrid.Key" value="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"/>
    
    <add key="Auth.Twitter.ConsumerKey" value="tZ1b2cN4RPxyZTGqr0aejGkgS"/>
    <add key="Auth.Twitter.ConsumerSecret" value="10ITG3gJUCnfDDBw3xssZ5wreoSTMeGTYBdHYIjqagY6u526Qo"/>

    <add key="Enviroment.Configuration" value="staging"/>
  </appSettings>

  <akka xdt:Transform="Replace">
    <hocon>
      <![CDATA[
      akka {
    loglevel = DEBUG
    loggers = ["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
    log-config-on-start = on

    actor {
        provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
        debug {
            receive = on
            autoreceive = on
            lifecycle = on
            event-stream = on
            unhandled = on
        }
    }
    
    remote {
        helios.tcp {
            transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
		        applied-adapters = []
		        transport-protocol = tcp
            port = 10100
            hostname = 10.0.0.4
        }
    }
    
   persistence {
        publish-plugin-commands = on
        
        journal {
            plugin = "akka.persistence.journal.table-storage"
            table-storage {
                class = "TableStorage.Persistence.TableStorageJournal, Akka.Persistence.Azure"
                plugin-dispatcher = "akka.actor.default-dispatcher"
                table-name = Events
                auto-initialize = on 
                connection-strings = ["DefaultEndpointsProtocol=https;AccountName=btcteststg;AccountKey=xntefAlCBXn0U5Z/zUNRqnxlvgr6ltWfgaw3B3W1QLAbl1EisV9fU+22QQNyONYWYMDt9gvJEf5CJoPuMbhepA=="]
            }
        }
        snapshot-store {
            plugin = "akka.persistence.snapshot-store.blob-storage"
            blob-storage {
              class = "BlobStorage.Persistence.BlobStorageSnapshotStore, Akka.Persistence.Azure"
              plugin-dispatcher = ""akka.actor.default-dispatcher""
              connection-strings = ["DefaultEndpointsProtocol=https;AccountName=btcteststg;AccountKey=xntefAlCBXn0U5Z/zUNRqnxlvgr6ltWfgaw3B3W1QLAbl1EisV9fU+22QQNyONYWYMDt9gvJEf5CJoPuMbhepA=="]
              container-name = snapshots
              auto-initialize = on
            }
        }
    }
}
        ]]>
    </hocon>
  </akka>


</configuration>
