<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <connectionStrings>
    <add name="default" connectionString="DefaultEndpointsProtocol=https;AccountName=bbtcdev;AccountKey=C/Q2JTLaedxYBCYgF5pc9s3w+dRlbnP8kvg06ats99BbmNbiyxQPMSXJfnDHWtpLyxdVYvXHCUeOlk+XYozzSA==" />
  </connectionStrings>
  <appSettings>
    <add key="Game.Radius" value="0.01"/>
    <add key="Game.Bet" value="0.01"/>

    <add key="Game.IncomingAddress" value="2NBSd1XvMwR1VJZczcZSv67YZz1si1r1eDL"/>
    <add key="Game.ProfitAddress" value="2N4PLWjrTgqCjgecKb6jRR2GgtmhTfHNmKF"/>

    <add key="PaymentGateway.ApiUrl" value="https://block.io/api/v2"/>
    <add key="PaymentGateway.NotificationUrl" value="wss://n.block.io"/>
    <add key="PaymentGateway.ApiKey" value="0b3d-3c82-3827-cef7"/>
    <add key="PaymentGateway.Pin" value="wpn6nuweUmOl3JX2KEeL"/>

    <add key="Systems.WebIp" value="localhost"/>
    <add key="Systems.WebPort" value="10200"/>
    <add key="Systems.ServerIp" value="localhost"/>
    <add key="Systems.ServerPort" value="10200"/>

    <add key="Stackify.GlobalApiKey" value="4Go8Vq9Dp5Zw1Mx7Jz9Ll2Mj0Ow1Vy9Qb3Wu3An"/>
    <add key="Stackify.GlobalAppName" value="cryptobets"/>
    <add key="Stackify.GlobalEnvironment" value="debug-server"/>

    <add key="Publisher.Twitter.ConsumerKey" value="eeF8vvTe7euKDGyxBIW8AuV7Y"/>
    <add key="Publisher.Twitter.ConsumerSecret" value="MzwLkItI7hKW468yaFMpclc0QYS4hKubVeewFKzTab8vA1KpYZ"/>
    <add key="Publisher.Twitter.AccessToken" value="708642768177012736-hLRuuoA5uv7DNo8qymXDBE03cUtwFl2"/>
    <add key="Publisher.Twitter.AccessTokenSecret" value="IXOit2NNltWnYi2EeGauLd5Fs0wXz3EzPbgNIcUCkkJVE"/>
    <add key="Publisher.Twitter.HashTags" value="#BTCTEST #Crypto #Bet"/>

    <add key="SendGrid.Key" value="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"/>
    
    <add key="Auth.Twitter.ConsumerKey" value="eeF8vvTe7euKDGyxBIW8AuV7Y"/>
    <add key="Auth.Twitter.ConsumerSecret" value="MzwLkItI7hKW468yaFMpclc0QYS4hKubVeewFKzTab8vA1KpYZ"/>

    <add key="Enviroment.Configuration" value="debug"/>
  </appSettings>
  <akka>
    <hocon>
      <![CDATA[
      akka {
    loglevel = DEBUG
    loggers = ["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
    log-config-on-start = on

    actor {
        provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
        debug {
            receive = on
            autoreceive = on
            lifecycle = on
            event-stream = on
            unhandled = on
        }
    }
    
    remote {
        helios.tcp {
            transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
		        applied-adapters = []
		        transport-protocol = tcp
            port = 10200
            hostname = localhost
        }
    }
    
   persistence {
        publish-plugin-commands = on
        
        journal {
            plugin = "akka.persistence.journal.table-storage"
            table-storage {
                class = "TableStorage.Persistence.TableStorageJournal, Akka.Persistence.Azure"
                plugin-dispatcher = "akka.actor.default-dispatcher"
                table-name = Events
                auto-initialize = on 
                connection-strings = ["DefaultEndpointsProtocol=https;AccountName=bbtcdev;AccountKey=C/Q2JTLaedxYBCYgF5pc9s3w+dRlbnP8kvg06ats99BbmNbiyxQPMSXJfnDHWtpLyxdVYvXHCUeOlk+XYozzSA=="]
            }
        }
        snapshot-store {
            plugin = "akka.persistence.snapshot-store.blob-storage"
            blob-storage {
              class = "BlobStorage.Persistence.BlobStorageSnapshotStore, Akka.Persistence.Azure"
              plugin-dispatcher = ""akka.actor.default-dispatcher""
              connection-strings = ["DefaultEndpointsProtocol=https;AccountName=bbtcdev;AccountKey=C/Q2JTLaedxYBCYgF5pc9s3w+dRlbnP8kvg06ats99BbmNbiyxQPMSXJfnDHWtpLyxdVYvXHCUeOlk+XYozzSA=="]
              container-name = snapshots
              auto-initialize = on
            }
        }
    }
}
        ]]>
    </hocon>
  </akka>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.ProtocolBuffers" publicKeyToken="55f7125234beb589" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.555" newVersion="2.4.1.555" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.154" newVersion="3.3.154.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>